h1
{
    color: navy;
    text-shadow: 2px 2px #00ffff;
    font-size: 250%;
}

h2
{
    color: red;
    font-size: 100%;
}

input[type=submit]
{
    border-radius: 5px;
    padding: 5px 15px;
    background: #00ff00;
    font-weight: bold;
}

body 
{
    text-align: center;
}